:root {

  color: #6534ff
  #62bcfa
  #fccdd3
  #bbc4ef;
}
#root {
  display: grid;
  height: 95vh;
  grid-template-columns: 1fr [first-div] minmax(300px, 750px) [second-div] 1fr;
  grid-template-rows: auto;
}
.App {
  grid-column: first-div/second-div;
  padding: 1rem;
  border-radius: 0.2rem;
  background-color: #62bcfa;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  
}
form {
  background-color: #6534ff;
  padding: 0.5rem 0;
  border-radius: 0.2rem;
  color: rgb(224, 217, 217);
  font-size: 1.1rem;
  padding-bottom: 0.9rem;
  margin-bottom: 0.75rem;
  box-shadow: 0.1rem 0.2rem 0.4rem 0.1rem #6d6d6d;
}
ol {
  padding: 0.3rem 0.2rem;
  margin: 1rem 0;
  list-style-position: inside;
}

div {
  margin-top: 0;
}